{% extends 'layout.html.twig' %}
{% block body %}
    
    {{parent()}}
<div class="container">

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel panel-heading">
                    <h1> Subir lucas fernandez</h1>
                    {% for flashMessage in app.session.flashbag.get('mensaje')%}
                        
                        <span class="alert-success">
                            {{flashMessage}}
                        </span>
                        
                    {% endfor %}    
                </div>

                <div class="panel panel-body">
                    
                    <form role="form" enctype="multipart/form-data" method="post" action="{{path('proyecto_user_subir')}}">
                        <label class="sr-only"  for="formu">archivo</label>
                        <input type="file"  name="archivito" class="form-control" id="formu"/>
                        <button type="submit" class="btn btn-default">Enviar</button>
                        
                        
                    </form>
                    
                </div>

            </div>
        </div>
                        
    </div>
    <img id="imagen" src={{asset('uploads/archivos/phpFB19.tmp')}} alt="CF"/>                    


</div>
{% endblock %}